@import "../../app/app.scss";

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit/2;
$border-radius-global: 5px;
$button-width: 80%;
$button-height: 50px;
$button-text-color: white;
$color-facebook: #4b70ab;


%button,
.button {
  width: $button-width;
  margin-top: 1em;
  border: 0 none;
	border-radius: $border-radius-global;
  text-decoration: none;
	transition: all 250ms linear;

	&:hover {
		text-decoration: none;
	}

}

.button--social-login {
  color: $button-text-color;
	height: $button-height;
	line-height: $button-height - 4;
	position: relative;
	text-align:center;
  text-align: left;
	.icon {
		margin-right: $half-spacing-unit;
		font-size: $base-spacing-unit;
		line-height: $base-spacing-unit;
		width: ($base-spacing-unit * 2) - ($half-spacing-unit / 2);
		height: $base-spacing-unit;
		text-align: center;
		display: inline-block;
		position: relative;
		top: 4px;
		&:before {
			display: inline-block;
			width: ($base-spacing-unit * 2) - ($half-spacing-unit / 2) - 2;
		}

		&:after {
			content:"";
		}
	}
}


.button--facebook {
background-color: $color-facebook;
border: 1px solid darken($color-facebook, 10%);
	.icon {
		border-right: 1px solid darken($color-facebook, 10%);

		&:after {
			border-right: 1px solid lighten($color-facebook, 10%);
		}
	}
	&:hover {
		background-color: darken($color-facebook, 5%);
	}
}

button{
	width:$button-width;
	margin-top: 1em;
	height:$button-height - 5 !important;
	text-transform: none !important;
}

.button-white-black{
	background: #fff;
	color: color($colors, black);
}

#versionCode{
	position:relative;
	float:right;
}

#preguntaApp{
	position:relative;
	float:left;
}

.botonesredessociales{
	display:flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	padding-top:20px;
}

#facebook{
	content: url("../assets/images/facebook.png");
}

#twitter{
	content: url("../assets/images/twitter.png");
}

#google{
	content: url("../assets/images/google.png");
}

#instagram{
	content: url("../assets/images/instagram.png");
}

