@mixin fondo_pantalla{
    --background: url("../../assets/images/fondo.png");
}

@mixin centrado{
    text-align:center;
}

h1{
    font-size: 3em;
}

#titulo{
    @include centrado;
    position:absolute;
    top:20%;
    width:100%;
}

