// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-menu .content, ion-menu .item {
	color: color($colors, dark_gray);
	background-color: color($colors, white);
	padding:10px;
}

.margenabajo {
	margin-bottom:20px;
}


.derecha {
	float:right;
	position:relative;
}

.item-inner {
  	border: none !important;
}

.width-max-content{
	width: max-content;
}

@mixin margen_lados($margen){
	margin-left:$margen;
	margin-right:$margen;
}

@mixin padding_lados($margen){
	padding-left:$margen;
	padding-right:$margen;
}

@mixin paddingtodos($top,$right,$bottom,$left){
	padding:$top,$right,$bottom,$left;
}

@mixin fixed_width($withper){
	width:$withper;
	max-width:$withper;
	min-width:$withper;
}

@mixin fixed_height($withper){
	height:$withper;
	max-height:$withper;
	min-height:$withper;
}

@mixin fondo_pantalla{
	background-image: url("../assets/images/fondo.png");
	background-color:color($colors, white);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin centrado_full{
    text-align:center;
	width:100%;
}

@mixin posicionar_abajo($margen){
	position:absolute;
	bottom: $margen;
}

h1{
    font-size: 3em;
}

h2{
	font-size: 1.5em;
}

.item{
	@include centrado_full;
    position:absolute;
    top:10%;
}

#titulo{
    @include centrado_full;
	display:flex;
}



@media screen and (orientation:portrait) {
	#titulo h1{
		@include fixed_width(100%);
	}

	#titulo{
		justify-content: center;
		flex-wrap: wrap;
	}

	#titulo img{
		@include fixed_width(30%);
		content: url("../assets/icon/icon.png");
	}
}

@media screen and (orientation:landscape) {
	#titulo{
		flex-direction: row;
		justify-content: center;
	}
	
	#titulo img{
		@include fixed_width(15%);
		content: url("../assets/icon/icon.png");
	}
	
}

.width-max-content{
	width: max-content;
}

ion-content{
	@include fondo_pantalla;
}

.menu{
	background:#fff;
}

.justificado{
	text-align:justify;
	@include margen_lados(10px);
}

.listado-menu{
	@include fixed_height(100%);
	display:flex;
	align-items:flex-start;
}

.item-menu{
	@include fixed_height(75px);
	top: 0px;
}

.segundomenu{
	margin-top:75px;
}


