@import "../../app/app.scss";

.display-inline{
    display:flex;
    @include fixed_width(100%);
    justify-content: space-around;
    flex-wrap: nowrap;
    ion-checkbox{
        top:15px;
        margin-right:1em;
    }
}

.espaciado{
    margin-bottom:1em;
}

.alreves{
    flex-direction: row-reverse!important;
}

.noalreves{
    flex-direction: row!important;
}
