<!--
  Generated template for the EditarcamisetaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar color="primary">
    <ion-buttons left>
        <button ion-button icon-only (click)="irAtras()">
          <ion-icon class="iconotoolbar" name="arrow-back" ></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Editar Camiseta</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="irInfo()">
        <ion-icon class="iconotoolbar" name="information-circle" ></ion-icon>
      </button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs #editarCamisetaTabs>
    <ion-tab tabIcon="shirt" tabTitle="Camiseta" [root]="camisetapagina" [rootParams]="formulario"></ion-tab>
    <ion-tab tabIcon="person" tabTitle="Paciente" [root]="pacientepagina" [rootParams]="formulario"></ion-tab>
    <ion-tab tabIcon="heart" tabTitle="ECG" [root]="ecgpagina" [rootParams]="formulario" *ngIf="!isECG"></ion-tab>
    <ion-tab tabIcon="water" tabTitle="EDA" [root]="edapagina" [rootParams]="formulario" *ngIf="!isEDA"></ion-tab>
    <ion-tab tabIcon="thermometer" tabTitle="Temperatura" [root]="temperaturapagina" [rootParams]="formulario" *ngIf="!isTemperatura"></ion-tab>
    <ion-tab tabIcon="trending-down" tabTitle="Caida" [root]="caidapagina" [rootParams]="formulario" *ngIf="!isCaida"></ion-tab>
  </ion-tabs>
</ion-content>


<!--<ion-content forceOverscroll="true">
  <form [formGroup]="formularioEditarCamiseta" (ngSubmit)="editarCamiseta()">
     



      <div class="justificado display-inline espaciado"><button ion-button id="botonescondidas" type="button" class="buttonForm" (click) ="mostrarAvanzados()" [hidden]="escondeme">Datos Contacto</button></div>
      <div *ngIf="escondeme">
        <ion-label stacked>Telefono:</ion-label>
        <ion-input formControlName="telefono" [(ngModel)]="camiseta.telefono" type="number" placeholder="Telefono" clearOnEdit="false"></ion-input>
        <ion-label stacked>Telefono Contacto:</ion-label>
        <ion-input formControlName="telefonocontacto" [(ngModel)]="camiseta.telefonocontacto" type="number" placeholder="Telefono" clearOnEdit="false"></ion-input>
        <ion-label stacked>Dirección:</ion-label>
        <ion-textarea formControlName="direccion" [(ngModel)]="camiseta.direccion" placeholder="Direccion" clearOnEdit="false"></ion-textarea>
        <ion-label stacked>Notas:</ion-label>
        <ion-textarea formControlName="notas" [(ngModel)]="camiseta.notas" placeholder="Notas" clearOnEdit="false"></ion-textarea>
      </div> 
      <div class="justificado display-inline espaciado"><button ion-button class="submit-btn right buttonForm" type="submit" [disabled]="!formularioEditarCamiseta.valid">Guardar Cambios</button></div>  
    </form>
</ion-content>-->
