@import "../../app/app.scss";

.buttonLogin{
	margin-top: 1em;
	height:45px !important;
	text-transform: none !important;
}

@media screen and (orientation:portrait) {
	.buttonLogin{
		width:100% !important;
		display:block;
		margin-top: 1em;
	}
}

@media screen and (orientation:landscape) {
	.buttonLogin{
		width:48% !important;
		display:inline-block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}

.button-white-black{
	background: #fff;
	color: color($colors, black);
}

form{
	@include fixed_width(80%);
	text-align: center;
	margin:0 auto;
}

form ion-label{
	text-align: left;
}

form ion-input{
	background: color($colors,white);
}

